.page-header {
    background-image: url('../../images/action.JPG');
    background-position: center;
    background-size: cover;
    background-position-y: 20%;
}

.mobile-items {
    padding-bottom: 50px;
}

.mobile-header-img {
    width: 200px;
}

.mobile-page-header {
    padding: 20px 30px 60px 30px;
    justify-content: flex-start;
}

.faq-section {
    padding: 1px 0 20px 0;
    margin: 70px 0 0 0;
}

.faq-title {

}

.faq-questions {
    margin: auto;
    width: min(80%, 1300px);
}

.faq-question-container {
    padding: 20px 0;
}

.faq-question {
    padding-bottom: 10px;
}

.faq-answer {
    line-height: 1.5em;
}