.page-header {
    background-image: url('../../images/stadium.avif');
    background-position-y: 40%;
    background-size: cover;
    padding: 100px 30px 0px 30px;
    min-height: auto;
}

.section {
    margin: 20px 15%;
}

.fame-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.header-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mobile-header-img {
    width: 200px;
}

.mobile-page-header {
    padding: 20px 30px 0px 30px;
    justify-content: flex-start;
}

.header-fame-img {
    width: 380px;
}

.achievements {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.achievement {
    width: 200px;
    background-color: green;
    color: white;
    padding: 20px;
}

.achievement-year {
    font-size: 1.4em;
    font-style: italic;
    padding-bottom: 10px;
}

.home-town-label {
    padding-top: 35px;
    font-size: 1.2em;
}

.home-town {
    padding-top: 10px;
    font-size: 1.2em;
}

.player-description {
    padding-top: 25px;    
    font-size: 1.2em;
    line-height: 1.8em;
}

.secondary-button {
    margin-top: 15px;
    height: 2.6rem;
}

.jayda-press {
    width: 400px;
}

.morgan {
    width: 400px;
}

.old-photo {
    border-radius: 10px;
    padding: 20px;
    width: 300px;
}

.back-button {
    margin-top: 50px;
}