.page-header {
    background-image: url('../../images/group2.JPG');
    background-position-y: 40%;
    background-size: cover;
}

.mobile-items {
    padding-bottom: 50px;
}

.mobile-header-img {
    width: 200px;
}

.mobile-page-header {
    padding: 20px 30px 60px 30px;
    justify-content: flex-start;
}

.league-logo {
    width: 300px;
}

.reference-section p {
    text-align: center;
}

.reference-section li {
    list-style: disc;
    padding-top: 10px;
    margin: auto;
    width: 370px;
}