.page-header {
    background-image: url('../../images/action7.JPG');
    background-position-y: 20%;
    background-size: cover;
}

.mobile-items {
    padding-bottom: 50px;
}

.mobile-header-img {
    width: 200px;
}

.mobile-page-header {
    padding: 20px 30px 60px 30px;
    justify-content: flex-start;
}

.gallery img {
    width: 270px;
    height: 180px;
    object-fit: cover;
}

.page-count-section {    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
}