.page-header {
    background-image: url('/images/galleries/equipment/1.JPEG');
    background-position: center;
    background-size: cover;
}

.farm-price-boxes {
    gap: 30px;
}

.farm-gallery {
    max-width: min(80%, 1200px);
}