.page-header {
    background-image: url('/images/galleries/interior-detail/after/32.jpg');
    background-position: center;
    background-size: cover;
}

.page-header {
    background-position-y: 20%;
}