.page-header {
    background-image: url('/images/galleries/interior-detail/after/28.JPEG');
    background-size: cover;
}

.page-header {
    background-position-y: 30%;
}

.header-buttons {
    padding-top: 30px;
}