.page-header {
    background-image: url('/images/galleries/interior-detail/after/20.JPEG');
    background-size: cover;
}

.page-header {
    background-position-y: 30%;
}

.insta-gallery {
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
}