.page-header {
    background-image: url('/images/cover-2.jpg');
    background-position-y: 70%;
}

#secondary-header-title {
    text-shadow: #000 2px 0 10px;
}

.header-buttons {
    width: 100%;
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    column-gap: 40px;
}

.header-button {
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex-shrink: 0;
    font-size: 16px;
    font-weight: 500;
    height: 4rem;
    padding: 0 1.6rem;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    transition: all .5s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.header-button:hover {
  transition-duration: .1s;
}

.header-button-1 {
  background-color: rgb(114, 164, 240);
}

.header-button-1:hover {
  box-shadow: rgba(114, 164, 240, 0.5) 0 1px 30px;
}

.contact-wrapper {
    display: flex;
    justify-content: center; /* Centers contact-container horizontally */
    width: 100%;
}

.contact-container {
    width: min(80%, 800px);
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(214, 214, 214);
    border-radius: 10px;
    /* min-height: 153px; */
    flex-wrap: wrap;
    padding: 10px 30px;
    position: absolute;
    top: 490px;
    box-shadow: 0 0 0 8px #6e9fe936;
}

@media screen and (max-width: 768px) {
    .contact-container {
        display: flex;
        position: absolute;
        top: 380px;
        width: 150%;
        transform: scale(0.65);
    }
}

.phone-container {
    height: 100px;
    display: flex;
    align-items: center;
    gap: 15px;
    width: 225px;
}

.phone-icon {
    font-size: 2.5em;
    color: rgb(44, 85, 239);
}

.phone-text-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.phone-title {
    font-size: 1.4em;
    display: block;
}

.phone-text {
    display: block;
}

.working-hours-container {
    height: 100px;
    display: flex;
    align-items: center;
    gap: 15px;
    width: 225px;
}

.working-hours-icon {
    font-size: 2.5em;
}

.working-hours-text-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.working-hours-title {
    font-size: 1.4em;
    display: block;
}

.working-hours-text {
    display: block;
}

.location-container {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.location-icon {
    font-size: 2.5em;
}

.location-text-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.location-title {
    display: block;
    font-size: 1.4em;
}

.location-text {
    display: block;
    font-size: 1em;
}

.full-detail-title {
    font-size: 2.3em;
    padding-top: 15px;
    padding-left: 10px;
}

.full-detail-section {
    min-height: 600px;
    background-image: url('../../images/cover-1.jpg');
    background-size: 104%;
    background-position-y: 32%;
    width: 100%;
    justify-content: space-between;
}

.full-interior-detail-image {
    width: 300px;
    height: 400px;
    object-fit: cover;
}

.full-interior-text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 50%;
    background-color: rgb(255, 255, 255, 0.7);
    opacity: 100%;
    position: relative;
    top: 100px;
    min-width: min(340px, 80%);
    border-radius: 35px;
    box-shadow: 0 0 0 8px #6e9fe936;
    margin-right: min(10%, 200px);
    padding: 15px;
    min-height: 425px;
}

.full-detail-text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 50%;
    background-color: rgb(255, 255, 255, 0.7);
    opacity: 100%;
    position: relative;
    top: 100px;
    min-width: min(340px, 80%);
    border-radius: 35px;
    box-shadow: 0 0 0 8px #6e9fe936;
    margin-left: min(10%, 200px);
    padding: 15px;
    min-height: 425px;
}

.full-detail-text {
    font-size: 1.1em;
}

.full-detail-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0px 5px;
    font-size: 1.1em;
}

.full-detail-heading {
    display: flex;   
    align-items: center;
    color: rgb(255, 255, 255);
    font-size: 3.1em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    max-width: 30%;
}

.full-interior-detail-section {
    min-height: 600px;
    background-image: url('../../images/leather-scrubbing.jpg');
    background-size: 104%;
    background-position-y: 32%;
    width: 100%;
    justify-content: space-between;
    margin-top: 40px;
}

.full-interior-detail-heading {
    display: flex;   
    align-items: center;
    padding-left: 100px;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 3.1em;
    max-width: 40%;
}

@media screen and (max-width: 768px) {
    .full-detail-section {
        display: flex;
        flex-direction: column; 
        align-items: center;
        justify-content: flex-start;
        gap: 20px;
    }

    .full-detail-heading {
        order: -1; 
        padding-top: 70px;
        text-align: center;
    }

    .full-interior-detail-section {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
    }

    .full-interior-text-container,
    .full-detail-text-container {
        margin: 0 20px; 
        top: 50px;
        min-height: 350px;
        text-align: center;
    }

    .full-detail-heading,
    .full-interior-detail-heading {
        font-size: 2em;
        max-width: 90%;
        padding-left: 20px;
    }

    .full-detail-text {
        font-size: 1em;
    }

    .full-detail-buttons {
        gap: 10px;
        align-items: center;
        justify-content: center;
    }
}

.wash-and-wax-section {
    min-height: 400px;
}

.wash-and-wax-image {
    width: 300px;
    height: 400px;
    object-fit: cover;
}

.paint-correction-text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}


.van-image {
    width: 300px;
    height: 400px;
    object-fit: cover;
}

.van-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.service-locations-list {
    margin-top: auto;
    margin-top: 30px;
}

.home-middle-section {
    background-color: blue;
    background-position: center;
    background-position-y: 50%;
    background-size: cover;
    color: white;
    max-width: 1100px;
    margin: auto;
    text-shadow: 2px 2px 2px black;
}

.home-middle-section .section {
    min-height: 500px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
}

.home-middle-section .section-heading {
    color: white;
    font-size: 50px;
    line-height: 60px;
    margin: 0;
}

.home-middle-section p {
    text-align: center;
    font-size: 1.5em;
}

.top-text-heading {
    font-size: 2.5em;
}