.page-header {
    background-image: url('/images/galleries/semi/1.webp');
    background-position: center;
    background-size: cover;
}

.semi-aspects {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  column-gap: 50px;
}
.semi-aspects li {
    flex-basis: 300px;
    list-style: inside;
}