.page-header {
    background-image: url('/images/polish.jpg');
    background-position: center;
    background-size: cover;
}

.car-wash-image {
    max-width: 400px;
    height: 70%;
}

.wash-description {
    max-width: 80%;
    margin: 40px auto;
}