.page-header {
    background-image: url('../../images/2.JPEG');
    background-position: center;
    background-size: cover;
}

.truck-image {
    width: 300px;
}

.truck-section {
    padding-bottom: 30px;
}

.text-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}