
.left-image-section {
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    width: min(80%, 1000px);
    margin: auto;
    gap: 40px;
    column-gap: 80px;
}

.left-image-section-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (max-width: 1000px) {
    .left-image-section {
        flex-wrap: wrap;
    }
  }

.left-image-section-text-container {
    display: flex;
    flex-direction: column;
    max-width: 66%;
    min-width: 300px;
    gap: 20px;
    line-height: 2em;
}

.left-image-section-image-container img {
    border-radius: 10px;
}


.left-image-section-title {
    font-size: 1.5em;
}


.left-image-section-text {
    font-size: 1em;
}