

.photo-title-description-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.photo-title-description-containter {
    display: flex;
    flex-direction: column;
    padding: 10px;
    max-width: 400px;

}

.photo-title {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
    font-size: 2em;
}

.photo-img {
    height: 300px;
    object-fit: cover;
    max-width: 95%;
}

.photo-title-text-container {
    padding: 10px;
}

.photo-title-text-container p {
    line-height: 1.8em;
}