
.right-image-section {
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    width: min(80%, 1000px);
    margin: 50px auto;
    gap: 40px;
    column-gap: 80px;
}

.right-image-section-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.right-image-section-image-container img {
    border-radius: 10px;
    max-width: 500px;
}


.right-images-container img {
    border-radius: 10px;
    max-width: 400px;
}


@media only screen and (max-width: 1000px) {
    .right-image-section {
        flex-wrap: wrap-reverse;
    }
  }

.right-image-section-text-container {
    max-width: 66%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    line-height: 2em;
}


.right-image-section-title {
    font-size: 1.5em;
}

.right-image-section-text {
    font-size: 1em;
}