.footer {
    background-color: rgb(214, 214, 214);
    padding: 30px 10%;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    column-gap: 10px;
    padding-bottom: 40px;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding-right: 40px;
}

.footer-list a {
    color: black;
}

.footer-list a:hover {
    color: blue;
    cursor: pointer;
}

.copyright {
    display: block;
    margin-top: 20px;
}