.header-container {

}

.header-image {
    width: 100%;
    height: 600px;
    object-fit: cover;
    position: absolute;
    z-index: -1;
}

.page-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 500px;
    padding: 130px 30px 60px 30px;
}

.primary-header-title {
  color: white;
  font-size: 4em;
  font-weight: 70;
  text-align: center;
  width: 100%;
}

.secondary-header-title {
  color: white;
  font-size: 2em;
  font-weight: 70;
  text-align: center;
  width: 100%;
  padding-top: 10px;
}