.page-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 500px;
    padding: 130px 30px 60px 30px;
}

.primary-header-title {
  color: white;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
  font-size: 4em;
  font-weight: 70;
  text-align: center;
  width: 100%;
}

.secondary-header-title {
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  font-size: 2em;
  font-weight: 70;
  text-align: center;
  width: 100%;
  padding-top: 10px;
}