.numbered-titled-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    width: 80%;
    width: min(80%, 1300px);
    margin: auto;
    gap: 30px;
}

.numbered-titled-list-item {
    display: flex;
    flex-basis: 40%;
    min-width: 300px;
    max-width: 800px;
    align-items: stretch;
    min-height: 100px;
    padding: 10px 10px 10px 0;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 23%);
}

.numbered-titled-list-number {
    display: flex;
    font-size: 2em;
    color: blue;
    width: 70px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.numbered-titled-list-text-container {
    display: block;
    width: calc(100% - 70px);
}

.numbered-titled-list-title {
    display: block;
    font-size: 1.3em;
    padding: 20px 5px;
}

.numbered-titled-list-text {
    display: block;
    padding-bottom: 20px;
}