.numbered-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: min(80%, 1300px);
    margin: auto;
    gap: 30px;
}

.numbered-list-item {
    display: flex;
    flex-basis: 40%;
    min-width: 300px;
    justify-content: stretch;
    align-items: center;
    min-height: 100px;
    padding: 10px 10px 10px 0;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 23%);
}

.numbered-list-number {
    display: block;
    text-align: center;
    font-size: 2em;
    color: blue;
    width: 70px;
    text-align: center;
}

.numbered-list-text {
    display: block;
    width: calc(100% - 70px);
}